@use "../../presets" as *;
@use "../../mixins" as *;

.quote-item {
  display: flex;
  flex-direction: column;

  &__description {
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    padding-top: 10px;

  }

  &__autor {
    margin-block-start: 27px;
    margin-block-end: 7px;
  }
}